*{
box-sizing: border-box;
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}
body{
  font-family: 'Barlow', sans-serif;

 background: #FEFCF7; 
}
.container{
  margin-left: auto;
  margin-right: auto;
}

.header-box{
  width: 1440px;
}
h2::before{
content: "";
  background-image: url("../img/coffe.png");

  width: 25px;
  height: 25px;
display: inline-block;
}
h2{
  font-family: 'Fraunces', serif;
  font-weight: 900;
font-size: 32px;
line-height: 32px;
color: #333D4B;
}
.header-link{
  font-weight: 700;
font-size: 12px;
line-height: 15px;
color: #83888F;
}
.header-box{
  display: flex;

}
.header-title-box{
  display: flex;
 margin-left: 739px;
}
.title{
  margin-left: 83px;
}
.coffe-item{
  padding-left: 32px;
}
.herro-box{
  width: 1440px;
}
.herro-img{
  background-image: url("../img/Bitmap.jpg");
  width: 1280px;
  height: 600px;
margin: 79px;
}